body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

/*HEADER UTILIZANDO FLEXBOX*/
.header {
  display: flex;
  justify-content: space-between; /*separa el logo y nav*/
  align-items: center; /*centrar verticalmente*/
  color: black;
  padding: 1rem 2rem;
}

.nav a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
}

/*=== LAYOUT PRINCIPAL HECHO CON GRID*/

.container {
  display: grid; /*urilizamos grid porque nos permite y necesitamos una estructura de 2 columnas*/
  grid-template-columns: 250px 1fr;
  gap: 20px;
  padding: 20px;
}

/*sidebar*/

.sidebar {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

/*CONTENIDO*/

.content {
  display: flex; /*utilizamos flex porque queremos alinear las tarjetas una al lado de la otra*/
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
  display: flex; /*Alinear el texto al centro en un fila*/
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #222;
  color: white;
  margin-top: 20px;
  border-radius: 10px;
}

/*responsive*/

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /*una sola columna*/
  }
  .content {
    flex-direction: column; /*las tarjetas una debajo de la otra*/
  }
}
